{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>User History</h1>
  </div>
</div>
<div class="container">
  <div id="grades" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col"><b>Bash History</b></td>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="/admin/history/{{ user.id }}" target="_blank">{{ user.name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}